<h1><%= @album.title %></h1>

<% unless @album.tracks.empty? %>
  <h3>Tracks</h3>
  <ul>
    <% @album.tracks.each do |track| %>
      <li><%= link_to track.title, track_url(track) %></li>
    <% end %>
  </ul>
<% end %>

<br>
<%= link_to "Edit", edit_album_url(@album) %>
